<div class="wrapper">
  <div class="dash-headers">
    <h1>Welcome, <%= @profile.name %> 🏠</h1>
    <h6>Your personal dashboard</h6>
  </div>
  <div class="progressoverview">
    <h2>Tasks Progress</h2>
    <div class="progresses">
      <div class="personal-progress">
        <%= link_to profile_profile_tasks_path(@profile) do %>
         <div class="icon-progress">
           <i class="fa-solid fa-user fa-2x" style="color: #BC6564"></i>
            <div class="container-progress">
              <div class="circular-progress">
                <div class="value value-container">
                  <%= @profile.progress %>
                </div>
              </div>
            </div>
        </div>
        <% end %>
      </div>

      <div class="total-progress">
        <%= link_to progresses_profile_profiles_path(@profile) do %>
         <div class="icon-multi-progress">
          <i class="fa-solid fa-users fa-2x" style="color: #BC6564"></i>
          <div class="container-progress">
            <div class="circular-progress">
              <div class="value value-container"> <%= current_account.done_tasks_count %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <% if @profile.admin? %>
      <%= link_to new_task_template_path do %>
        <i class="fa-solid fa-circle-plus add-task-btn"></i>
      <% end %>
    <% end %>
  </div>

  <hr>

    <div class="meals">
      <h2>What are we eating?</h2>
      <%= link_to profile_meals_path(@profile) do %>
        <div class="meal-card-dash">
          <% result = [] %>
          <% @meals.each_with_object({}) do |meal, total| %>
            <% result << meal.votes_for.size %>
            <% end %>
            <% maximum = result.max %>
            <% top_meal = @meals.select {|meal| meal.votes_for.size == maximum}.first %>
            <!--<img src=<%#= top_meal.picture_url %> class="img-p" alt="img-p">-->
            <% if top_meal.nil? %>
              <%= image_tag('https://images.unsplash.com/photo-1484632105053-8662f3194e7f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cGxhdGUlMjBib3dsfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=800&q=60', class:"img-p") %>
            <% else %>
              <%= image_tag(top_meal.picture_url, class:"img-p") %>
            <% end %>
        </div>
          <% if top_meal.nil? %>
            <p class= "name-meal">No meals chosen yet</p>
          <% else %>
            <p class= "name-meal"> <%= top_meal.name %> </p>
          <% end %>
      <% end %>
    </div>

  <hr>

  <div class="packing-list">
    <%= link_to profile_packings_path(@profile) do %>
      <h2>Don't forget your bag </h2>
      <p>Find out what to bring: <i class="fa-solid fa-briefcase fa-2x"></i> </p>
    <% end %>
  </div>

</div>
