<div class="wrapper">
  <div class="progressoverview">
      <h3>Progress</h3>
      <div class="progresses">
        <div class="personal-progress">
          <%= link_to profile_profile_tasks_path(@profile) do %>
              <div class="container-progress">
                <div class="circular-progress">
                  <div class="value value-container"><%= @profile.progress %></div>
                </div>
              </div>
          <% end %>
        </div>
      <div class="total-progress">
        <%= link_to "#" do %>
            <div class="container-progress">
              <div class="circular-progress">
                <div class="value value-container"> <%= current_account.done_tasks_count %></div>
              </div>
            </div>
        <% end %>
         </div>
      </div>
      </div>
    </div>
</div>
  <hr>
    <div class="meals">
      <h3>What are we eating?</h3>
      <%= link_to profile_meals_path(@profile) do %>
      <div class="meal-card-dash">
          <h2 class="noodles-btn">Noodles</h2>
        <img class="img-p" src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9vZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"/>
        <div class="meal-card-infos">
        </div>
      <% end %>
    </div>
  <hr>
  <div class="packing-list">
    <h3>My packing list</h3>
  </div>
</div>
