<div class="wrapper">
  <div class="progressoverview">
      <h3>Progress</h3>
    <%= link_to profile_profile_tasks_path(@profile) do %>
        <div class="container-progress">
          <div class="circular-progress">
            <div class="value value-container"><%= @profile.progress %></div>
          </div>
        </div>
    <% end %>

    <%#ß= debug @profile.progress %>

    <% count = 0 %>
    <% current_account.profiles.each do |profile| %>
      <% profile.profile_tasks.each do |task| %>
        <% task.done? ? count += 1 : count %>
      <% end %>
    <% end %>


     <%= link_to "#" do %>
        <div class="container-progress">
          <div class="circular-progress">
            <div class="value value-container"><%= (count.to_f/current_account.task_templates.count) * 100%></div>
          </div>
        </div>
    <% end %>

    <%#= debug (count.to_f/current_account.task_templates.count) * 100 %>
  </div>
  <hr>
    <div class="meals">
      <h3>What are we eating?</h3>
      <%= link_to meals_path do %>
      <div class="meal-card-dash">
        <img src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9vZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"/>
        <div class="meal-card-infos">
          <div>
            <h2>Noodles</h2>
            <p>Short description here!</p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  <hr>
  <div class="packing-list">
    <h3>My packing list</h3>
  </div>
</div>
