<div class="wrapper">
  <div class="progressoverview">
      <h3>Progress</h3>
      <div class="progresses">
        <div class="personal-progress">
          <%= link_to profile_profile_tasks_path(@profile) do %>
              <div class="container-progress">
                <div class="circular-progress">
                  <div class="value value-container"><%= @profile.progress %></div>
                </div>
              </div>
          <% end %>
        </div>
      <div class="total-progress">
        <%= link_to progresses_profiles_path do %>
            <div class="container-progress">
              <div class="circular-progress">
                <div class="value value-container"> <%= current_account.done_tasks_count %></div>
              </div>
            </div>
        <% end %>
         </div>
      </div>
      </div>
    </div>
  <hr>
    <div class="meals">
      <h3>What are we eating?</h3>
      <%= link_to profile_meals_path(@profile) do %>
      <div class="meal-card-dash">
           <% result = [] %>
           <% @meals.each_with_object({}) do |meal, total| %>
           <% result << meal.votes_for.size %>
           <% end %>
           <%= result.max %>
           <% maximum = result.max %>
           <% top_meal = @meals.select {|meal| meal.votes_for.size == maximum}.first %>
           <!--<img src=<%#= top_meal.picture_url %> class="img-p" alt="img-p">-->
            <%= image_tag(top_meal.picture_url, class:"img-p") %>
        </div>
      <% end %>
    </div>
  <hr>
  <div class="packing-list">
    <h3>My packing list</h3>
  </div>
</div>
</div>
