<%= simple_form_for [@profile, @packing] do |f| %>
  <%= f.input :name%>
  <!--Dropdown color collection-->
  <div class="">
    <%= f.input :color,  collection: Packing::COLORS, label: "Choose your color 🙃" %>
  </div>
  <div class="item-input">
    <%= f.input :item1, label: "Item 1" %>
  </div>
  <div class="item-input">
    <%= f.input :item2, label: "Item 2" %>
  </div>
  <div class="item-input">
    <%= f.input :item3, label: "Item 3" %>
  </div>
  <div class="item-input">
    <%= f.input :item4, label: "Item 4" %>
  </div>
  <div class="item-input">
    <%= f.input :item5, label: "Item 5" %>
  </div>
  <div class="item-input">
    <%= f.input :item6, label: "Item 6" %>
  </div>
  <div class="item-input">
    <%= f.input :item7, label: "Item 7" %>
  </div>
  <div class="item-input">
    <%= f.input :item8, label: "Item 8" %>
  </div>
  <div class="item-input">
    <%= f.input :item9, label: "Item 9" %>
  </div>
  <div class="item-input">
    <%= f.input :item10, label: "Item 10" %>
  </div>
  <%= f.button :submit, "Create bag!", class: "btn btn-yellow-small-sq" %>
<% end %>
