<%= simple_form_for [@profile, @packing] do |f| %>
  <%= f.input :name%>
  <div class="active">
    <%= f.input :item1 %>
  </div>
  <div class="d-none">
    <%= f.input :item2, class: "d-none" %>
  </div>
  <div class="d-none">
    <%= f.input :item3, class: "d-none" %>
  </div>
  <div class="d-none">
    <%= f.input :item4, class: "d-none" %>
  </div>
  <div class="d-none">
    <%= f.input :item5, class: "d-none" %>
  </div>
  <div class="d-none">
    <%= f.input :item6, class: "d-none" %>
  </div>
  <div class="d-none">
    <%= f.input :item7, class: "d-none" %>
  </div>
  <div class="d-none">
    <%= f.input :item8, class: "d-none" %>
  </div>
  <div class="d-none">
    <%= f.input :item9, class: "d-none" %>
  </div>
  <div class="d-none">
    <%= f.input :item10, class: "d-none" %>
  </div>
  <%= f.submit %>
<% end %>
