<h1 class="bags-text">Hola Bags!</h1>


<div class="bags-wrapper">
  <a href="<%= profile_packings_path(packing_id: 1, profile_id: @profile.id) %>" class="b-text">
    <i class="fa-solid fa-briefcase fa-2x" style="color: #F27877"></i>
    <p  style="color: #F27877">School</p>
  </a>
  <div>
    <i class="fa-solid fa-briefcase fa-2x" style="color: #4EB9B3"></i>
    <p  style="color: #4EB9B3">Work</p>
  </div>
  <div>
    <i class="fa-solid fa-briefcase fa-2x" style="color: #27357E"></i>
    <p style="color: #27357E">Tennis</p>
  </div>
  <div>
    <i class="fa-solid fa-briefcase fa-2x" style="color: #FFA963"></i>
    <p style="color: #FFA963">Swim</p>
  </div>
  <div>
    <i class="fa-solid fa-briefcase fa-2x" style="color: #FD703F"></i>
    <p>Weekend</p>
  </div>
</div>

<% if params[:packing_id].present? %>
  <div id="content">
    <% @packings.each do |packing| %>
        <div class="bags">
          <p><%= packing.name %></p>
          <p><%= packing.item1 %></p>
          <p><%= packing.item2 %></p>
          <p><%= packing.item3 %></p>
          <p><%= packing.item4 %></p>
        </div>
    <% end %>
  </div>
  <% else %>
      <p>Please click on the bag<p>
<% end %>
<!--Delete items-->
<% @packings.each do |packing| %>
<div class="delete-items">
  <%= link_to 'Delete items', profile_packings_path(packing), method: :delete, data: { confirm: 'Are you sure?' }, class: "del-items" %>
</div>
<% end %>
