<h1 class="bags-text">Hola Bags!</h1>


<div class="bags-wrapper">

  <% @packings.each do |packing| %>
    <a href="<%= profile_packings_path(packing_id: packing.id, profile_id: @profile.id) %>">
        <i class="fa-solid fa-briefcase fa-2x" style="color: #FFA963"></i>
        <p  style="color: #4EB9B3"> <%= packing.name %> </p>
  <% end %>

</div>

<% if params[:packing_id].present? %>
  <% packing = Packing.find(params[:packing_id]) %>
  <div id="content">
        <div class="bags">
          <h3><%= packing.name.capitalize %></h3>
          <%= show_all_packing_items(packing) %>
        </div>
  </div>
  <% else %>
      <p>Please click on the bag<p>
<% end %>
<!--Delete items-->
<% @packings.each do |packing| %>
<div class="delete-items">
  <%= link_to 'Delete items', profile_packings_path(packing), method: :delete, data: { confirm: 'Are you sure?' }, class: "del-items" %>
</div>
<% end %>
