<div class="wrapper">
  <div class="header-profile">
  <div class="text-in-header">
      <% if @profile.progress < 10 %>
        <p>You have some <br> work to do! 💪</p>
      <% elsif @profile.progress < 30 %>
        <p>Good start!<br> Keep up the good work! 👌</p>
      <% elsif @profile.progress < 50 %>
        <p>Every task counts!<br> Well done! 👏</p>
      <% elsif @profile.progress < 70 %>
        <p>Very good!<br> You are so close to reaching your goal! 👏</p>
      <% elsif @profile.progress < 90 %>
        <p>Almost there! ⭐️</p>
      <% else @profile.progress == 100 %>
        <p>Congratulations!<br> You did it! 🏆</p>
      <% end %>
    </div>
    <div class="progress-in-header">
      <div class="container-progress">
        <div class="circular-progress">
          <div class="value value-container"><%= @profile.progress %></div>
        </div>
      </div>
    </div>
  </div>

  <div class="task-overview">
    <div id="carouselExampleControls" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active text-center" data-bs-interval="false">
          <h1>All</h1>
          <ul>
            <% @profile_tasks.each do |profile_task| %>
              <div class= "overview-tasks">
                <div class="task-row">
                  <% color = ["#FD703F", "#F27877", "#4EB9B3", "#27357E", "#FFA963" ].sample %>
                  <div class="task-text" style="border-left-color:<%= "#{color}" %>;">
                    <p class="task-title" style="color:<%= "#{color}" %>;"><%= profile_task.task_template.title %></p>
                    <p><%= profile_task.task_template.description %></p>
                  </div>
                  <div class="task-check-box">
                    <%= button_to profile_profile_task_path(profile_task.profile, profile_task), remote: true, method: :put, class: "check-box-buton" do %>
                      <% if profile_task.done? %>
                        <i class="fa-solid fa-square"></i>
                      <% else %>
                        <i class="fa-regular fa-square"></i>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </ul>
        </div>

        <% ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"].each do |day|  %>
          <div class="carousel-item text-center" data-bs-interval="false">
            <h1><%= day %></h1>
            <ul>
              <% @profile_tasks.each do |profile_task| %>
                <% if profile_task.task_template.weekday == day %>
                  <div class= "overview-tasks">
                    <div class="task-row">
                      <% color = ["#FD703F", "#F27877", "#4EB9B3", "#27357E", "#FFA963" ].sample %>
                      <div class="task-text" style="border-left-color:<%= "#{color}" %>;">
                        <p class="task-title" style="color:<%= "#{color}" %>;"><%= profile_task.task_template.title %></p>
                        <p><%= profile_task.task_template.description %></p>
                      </div>
                      <%= button_to profile_profile_task_path(profile_task.profile, profile_task), remote: true, method: :put, class: "check-box-buton" do %>
                        <% if profile_task.done? %>
                          <i class="fa-solid fa-square"></i>
                        <% else %>
                          <i class="fa-regular fa-square"></i>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </ul>
          </div>

        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
  </div>


</div>

<div class="btndiv">
  <% if @profile.admin? %>
      <%= link_to "Add a household task!", task_templates_path(@profile), class: "btn-orange-4 "%>
  <% end %>
  </div>
</div>
