<div class="wrapper">
  <div class="header">
    <p>Make a text that updates</p>
    <p>Your progress <%= @profile.progress %>%</p>


  </div>
  <div class="task-overview">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h1>All</h1>
          <ul>
            <% @profile_tasks.each do |profile_task| %>
              <li>
                <%= profile_task.task_template.title %>
                <%= profile_task.task_template.description %>
                <%= button_to profile_profile_task_path(profile_task.profile, profile_task), method: :put, class: "check-box-buton" do %>
                  <% if profile_task.done? %>
                    <i class="fa-solid fa-square"></i>
                    <%= profile_task.done %>
                  <% else %>
                    <i class="fa-regular fa-square"></i>
                    <%= profile_task.done %>
                  <% end %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>

        <% ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"].each do |day|  %>
          <div class="carousel-item">
            <h1><%= day %></h1>
            <p></p>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>


  </div>
</div>
