<%= simple_form_for(@task_template, html: {"data-turbo": false} ) do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :min_age %>
    <%= simple_fields_for :weekdays do |s| %>
      <%= s.input :selected, as: :check_boxes, collection: ['Monday','Tuesday','Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %>
    <% end %>


    <div class="form-actions">
      <%= f.button :submit, 'Submit!' %>
    </div>
  <% end %>
