<%= simple_form_for (@task_template) do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :min_age %>
    <%= simple_fields_for :weekdays do |s| %>
      <%= s.input :weekdays, as: :check_boxes, collection: ['Monday','Tuesday','Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
          input_html: { class: "tag-selector" },
          item_wrapper_class: 'tag-item' %>
    <% end %>

    <div class="form-actions">
      <%= f.button :submit, 'Add tasks!', class:"btn-yellow-small-sq" %>
    </div>
  <% end %>
