<% @disable_log_out = true %>
<h1 class="task-temp-text">TaskTemplates</h1>
<div><%= render "shared/guidelines" %></div>
<%= render "form", task_template: @task_template %>

<h3> Overview of added tasks</h3>
<div class="task-templates-page">
  <ul>
    <% @task_templates.each do |task| %>
      <div class="task-row">
        <% color = ["#FD703F", "#F27877", "#4EB9B3", "#27357E", "#FFA963" ].sample %>
        <div class="task-text" style="border-left-color:<%= "#{color}" %>;">
          <p class="task-title" style="color:<%= "#{color}" %>;"><%= task.title %></p>
          <p><%= task.description %></p>
        </div>
          <%= link_to task_template_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'delete-card' do %>
          <i class="fa-solid fa-trash" style="color:#27357E;"></i>
        </div>
        <% end %>
    <% end %>
  </ul>
</div>

<%= button_to "Assign tasks!", create_multiple_profile_tasks_path, class: "btn-orange-big-round", method: :post %>
