<div class="header-combo">
  <h1>Meal Suggestions</h1>
  <h6>Vote on your favorite! 🥄</h6>
</div>

<div class="centralize">
  <% if @profile.admin? %>
    <%= link_to "Add new meals", search_profile_meals_path, class:"btn-yellow-small-sq" %>
  <% end %>
</div>
<div class="centralize1">
  <% if @profile.admin? %>
    <%= link_to "Remove all meals", destroy_all_meals_path, data: {turbo_method: :delete}, class: "button-delete-meals" %>
  <% end %>
</div>
<div class="container text-center card-wrapper">
   <% @meals.order(id: :desc).each do |meal| %>
      <div class="card" style="width: 10rem;">
      <img src="<%= meal.picture_url %>" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="card-meal">
         <p class="card-text"><%= meal.name %></p>
        </div>
         <div class="like-link">
          <%= render 'meals/like_link', meal: meal %>
        </div>
      </div>
    </div>
  <% end %>
</div>
